%h1= t("Translations")
%ul.actions
  %li= link_to t("Clean translations"), clean_translations_path, :method => "delete", :confirm => t("Do you really want to remove all non-translated translations")
- if @translations.empty?
  %p= t("There are no translations yet")
- else
  %p= t("{{count}} translations found", :count => @translations.count)
  %table#translations
    %tr
      %th= t("Locale")
      %th= t("Key")
      %th= t("Value")
      %th
      %th
    - @translations.each do |translation|
      %tr{:class => (translation.translated? ? "translated" : "require_translation")}
        %td= translation.locale
        %td= translation.key
        %td= translation.value
        %td= link_to t("Edit"), edit_translation_path(translation)
        %td= link_to t("Delete"), translation_path(translation), :method => "delete"