- content_for :header do
  %h2= t("Index")
  %ul.actions
    %li= link_to t("New logo"), new_administration_logo_path
    %li= link_to t("Translations"), administration_translations_path
    %li= link_to t("Logout"), administration_logout_path
#logos
  %table
    %tr
      %th= t("Name")
      %th= t("Image")
      %th= t("Votes count")
      %th
      %th
    - @logos.each do |logo|
      %tr
        %td=h logo.name
        %td=image_tag logo.image.url
        %td= logo.votes_count
        %td= link_to t("Edit"), edit_administration_logo_path(logo)
        %td= link_to t("Destroy"), [:administration, logo], :confirm => t("Do you really want to delete this logo?"), :method => "delete"