%h1= t("Survey")

#survey
  %p= t("Welcome text")
  %p= t("Instruction")

  %table
    %tr
      %th= t("Font name")
      %th= t("Logo")
      %th= t("Vote!")
    %tr
      %td.spacer

    - @logos.each do |logo|
      %tr
        %td=h logo.name
        %td= image_tag(logo.url)
        %td ...