%h2= t("Edit")
%ul.actions
  %li= link_to t("Back to index"), administration_translations_path(:locale => @current_locale)

- semantic_form_for [:administration, @translation] do |f|
  - if @current_locale
    = hidden_field_tag :locale, @current_locale
  = f.inputs :key, :value
  = f.buttons :commit