- content_for :header do
  %h2= t("Edit")
  %ul.actions
    %li= link_to t("Back to index"), administration_translations_path(:locale => @current_locale)

- semantic_form_for [:administration, @translation] do |f|
  - if @current_locale
    = hidden_field_tag :locale, @current_locale
  - f.inputs do 
    = f.input :key, :label => t("Key"), :hint => t("Translation key - probably you don't want to change this")
    = f.input :value, :label => t("Value"), :hint => t("Translated text")
  - f.buttons do
    = f.commit_button t("Update translation")