- content_for :header do
  %h2= t("Index")
  %ul.actions
    %li= link_to t("Clean translations"), clean_administration_translations_path(:locale => @current_locale), :method => "delete", :confirm => t("Do you really want to remove all non-translated translations")

%p
  = t("Available locales are:")
  %ul#locales
    - @available_locales.each do |locale|
      %li= link_to locale, administration_translations_path(:locale => locale), :class => (locale ==  @current_locale ? "current" : "")
    %li= link_to t("all"), administration_translations_path, :class => (@current_locale.blank? ? "current" : "")


- if @translations.empty?
  %p= t("There are no translations yet")
- else
  %p= t("%{count} translations found", :count => @translations.count)
  #translations
    %table
      %tr
        %th= t("Locale")
        %th= t("Key")
        %th= t("Value")
        %th
        %th
      - @translations.each do |translation|
        %tr{:class => ("#{(translation.translated? ? "translated" : "require_translation")} #{cycle("even", "odd")}")}
          %td= translation.locale
          %td= translation.key
          %td= truncate(translation.value, 40)
          %td= link_to t("Edit"), edit_administration_translation_path(translation, :locale => @current_locale)
          %td= link_to t("Destroy"), administration_translation_path(translation), :method => "delete"
